<header><nav>
<p>Dhuha Hasan</p>
  <ul>
    <li><a href="#">Navigation</a></li>
    <li><a href="#">Menu</a></li>
    <li><a href="#">Links</a></li>
  </ul>
</nav>
</header>
<main>
<p>hellooo</p>
<button>View my Work</button>
</main>
<footer>
<ul>
    <li><a href="#">GitHub </a></li>
    <li><a href="#"> Twitte</a></li>
    <li><a href="#"> LinkedIn </a></li>
  </ul>
</footer>